dict.xcodeproj/project.xcworkspace/contents.xcworkspacedata
dict.xcodeproj/project.xcworkspace/xcuserdata/bluebitch.xcuserdatad/UserInterfaceState.xcuserstate
dict.xcodeproj/xcuserdata/bluebitch.xcuserdatad/xcschemes/dict.xcscheme
dict.xcodeproj/xcuserdata/bluebitch.xcuserdatad/xcschemes/xcschememanagement.plist
